.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 15px;
    flex: 1;
}
.main {
    height: 400px;
    background-color: red;
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 15px 0px 15px 15px;
    justify-content: flex-start;
}
.sub-content {
    height: 200px;
    background-color: yellow;
    margin-right: 15px;
    flex: 1;
}
#advertisement {
    height: 120px;
    background-color: purple;
    margin-top: 15px;
    margin-right: 15px;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* TODO - what should go here? */
}

